.banner {
	margin: 1rem;
}

#lyrics_box {
	border: 1px solid;
	height: 20rem;
	background-color: #8095FF;
}

.clip {
	display: inline-block;
	border: 1px solid;
	width: 100%;
	height: 11rem;
}

.columns {
	margin-bottom: 2rem;
}

.lyrics_inner {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #8095FF;
}

#lyrics_text {
	color: #FFFFFF;
}

#clip-choices {
  height: 20rem;
  text-align: center;
}

.clip-text {
  text-align: center;
  font-size: 1.4rem;
  line-height: 10rem;
}

#players {
  text-align: center;
}

.stitch-btn {
	font-size: 2rem;
	padding: .6rem 1rem;
	width: 100%;
}

