{% extends "base.html" %}
{% block title %}Stitch Pitch{% endblock %}
{% block body %}
<div class="row">
	<div class="container">
		<div style="text-align: center">
    		<div class="banner" style="display: inline-block;"><h1>Stitch Pitch</h1>
    		</div>
		</div>

		<div class="columns">
			<div id="lyrics"></div>
		</div>

		<div id="clip-choices">
			<div class="large-3 columns">
				<div id="clip-choice-1" class="clip">  </div>
			</div>
  			<div class="large-3 columns">
  				<div id="clip-choice-2" class="clip">  </div>
  			</div>
			<div class="large-3 columns">
  				<div id="clip-choice-3" class="clip">  </div>
  			</div>
  			<div class="large-3 columns">
  				<div id="clip-choice-4" class="clip">  </div>
  			</div>			
		</div>

	</div>
</div>
{% endblock %}