{% extends "base.html" %}
{% block title %}Stitch Pitch{% endblock %}
{% block body %}
<div class="row">
	<div class="container">
		<div style="text-align: center">
    		<div class="banner" style="display: inline-block;"><h1>Stitch Pitch</h1>
    		</div>
		</div>

		<form action="/" method="POST">
        	<div class="small-10 columns">
        	    <input type="text" placeholder="Search for a song" id="user_search" name="user_search" required/>
        	</div>
        	<div class="small-2 columns">
        	    <button class="postfix search-button" type="submit">Search</button>
        	</div>
    	</form>

    {% if should_show_results %}
  		<div class="columns">
        <h2>{{ song_name }} by {{ artist_name }}</h2>
  			<div id="lyrics">
          <p>{{ lyrics }}</p>
        </div>
  		</div>

  		<div id="clip-choices">
  			<div class="large-3 columns">
  				<div id="clip-choice-1" class="clip">  </div>
  			</div>
    			<div class="large-3 columns">
    				<div id="clip-choice-2" class="clip">  </div>
    			</div>
  			<div class="large-3 columns">
    				<div id="clip-choice-3" class="clip">  </div>
    			</div>
    			<div class="large-3 columns">
    				<div id="clip-choice-4" class="clip">  </div>
    			</div>			
  		</div>
    {% endif %}

	</div>
</div>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}