{% extends "base.html" %}
{% block title %}Stitch Pitch{% endblock %}
{% block body %}
<div class="row">
	<div class="container">
		<div style="text-align: center">
    		<div class="banner" style="display: inline-block;"><h1>Stitch Pitch</h1>
    		</div>
		</div>

    <video id="stitch_video" width="320" height="240" controls hidden>
      <source src="/uploads/glory-1466357583.mp4" type="video/mp4">
    </video>

		<form action="/" method="POST">
        	<div class="small-8 columns">
        	    <input type="text" placeholder="Search for a song" id="user_search" name="user_search"/>
        	</div>
        	<div class="small-2 columns">
        	    <button class="postfix search-button" type="submit">Search</button>
        	</div>
          <div class="small-2 columns">
              <a href="/record"><div class="postfix search-button">Train</div></a>
          </div>
    </form>

    <div class="columns" id="selector_widget">
      {{ no_results_text}}
      {% if should_show_results %}
          <h2>{{ song_name }} by {{ artist_name }}</h2>
    			<div id="lyrics_box">
            <div class="lyrics_inner">
              <h2 id="lyrics_text"></h2>
            </div>
          </div>
    		</div>

    		<div id="clip-choices">
    			<div class="large-3 columns">
    				<div id="clip-1" class="clip">
              <p id="clip-choice-1" class='clip-text'></p>
            </div>
    			</div>
      			<div class="large-3 columns">
      				<div id="clip-2" class="clip">  
                <p id="clip-choice-2" class='clip-text'></p>
              </div>
      			</div>
    			<div class="large-3 columns">
      				<div id="clip-3" class="clip">
                <p id="clip-choice-3" class='clip-text'></p>
              </div>
      			</div>
      			<div class="large-3 columns">
      				<div id="clip-4" class="clip">
                <p id="clip-choice-4" class='clip-text'></p>
              </div>
      			</div>			
    		</div>
      </div>
      <div class="columns" id="stitch_button">
          <button id="stitch" class="success stitch-btn">Stitch!</button>
      </div>
      {% endif %}
    </div>

	</div>

  <script>
    var lyrics = "{{ lyrics }}".split(' ');
    var currentStart = 0;
    var NUM_WORDS = 6;
    var NUM_CLIPS = 4;
    var videosSelected = [];
    var currentVideos = [];
    var hasLoadedVideos = false;
    var songName = "{{ song_name }}";

    // TODO: Handle the edge cases for videos.

    function getCurrentLyrics() {
      return lyrics.slice(currentStart, currentStart + NUM_WORDS);
    }

    function getFormattedLyrics() {
      var lyrics = currentLyrics.slice();
      lyrics[currentStart % NUM_WORDS] = "<strong>" + currentLyrics[currentStart % NUM_WORDS] + "</strong>";
      return lyrics.join(' ');
    }

    function setFormattedLyrics() {
      $('#lyrics_text').html(getFormattedLyrics());
    }

    function loadVideosAndSet() {
      hasLoadedVideos = false;
      // TODO: Make this real with AJAX.

      $.getJSON("/available_clips",{
        word: currentLyrics[currentStart % NUM_WORDS],
        }, function(data) {
          currentVideos = JSON.parse(data.clips);
          console.log(currentVideos);
          for (var i = 0; i < currentVideos.length; i++) {
            var lyric = currentVideos[i];
            var selector = '#clip-choice-' + (i+1);
            $(selector).text(lyric.word + ' ' + lyric.author);
          }
          for (var j = i; j < NUM_CLIPS; j++) {
            var selector = '#clip-choice-' + (j+1);
            $(selector).text('');
          }
          hasLoadedVideos = true;
      });
    }

    var currentLyrics = getCurrentLyrics();
    setFormattedLyrics();
    loadVideosAndSet();

    function logSelectedLyric(id) {
      var index = -1;
      switch(id) {
        case 'clip-choice-1':
          index = 0;
          break;
        case 'clip-choice-2':
          index = 1;
          break;
        case 'clip-choice-3':
          index = 2;
          break;
        case 'clip-choice-4':
          index = 3;
          break;
        default:
          console.log('Something went wrong');
          return false;
      }

      if (index < currentVideos.length) {
        videosSelected.push(currentVideos[index].file_name);
        return true;
      } else {
        console.log('We do not have a video for you');
        return false;
      }
    }

    $('.clip').click(function(event) {
      if (hasLoadedVideos) {
        var validLyric = logSelectedLyric(event.target.id);
        if (validLyric) {
          currentStart++;
          if (currentStart % NUM_WORDS == 0) {
            currentLyrics = getCurrentLyrics();
          }
          setFormattedLyrics();
          loadVideosAndSet();
        }
      }
    });

    $('#stitch').click(function(event) {
      stitch_data = {}
      stitch_data.clips = videosSelected;
      stitch_data.song = songName;
      $.ajax({
        url: '/play',
        type: 'post',
        dataType: 'json',
        success: function (data) {
          // TODO: Actually get the file name.
          var fileName = data.fileName;
          console.log(fileName);
          console.log('We finished this');

          $('#selector_widget').hide();
          $('#clip-choices').hide();

          $("$stitch_video > source").attr("src", fileName);
          $('#stitch_video').show();
        },
        data: JSON.stringify(stitch_data),
        contentType: "application/json; charset=utf-8"
      });
    });
  </script>
</div>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}