</!DOCTYPE html>
<html>
<head>
	<title>HELLO</title>
	<script src="/static/js/jquery.js"> </script>
	<script src="//cdn.WebRTC-Experiment.com/RecordRTC.js"></script>
	<script src="/static/js/app.js"></script>
</head>
<body>
<div id="players">
<video class="recorder" autoplay loop muted> </video>
<audio class="recorder" autoplay loop muted></audio>
</div>

<button id="record_button">Start Recording </button>
<button id="play_button">Play</button>
<button id="upload_button">Upload</button>

</body>
</html>